div{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

div a {
  background-color: #f0f0f0;
  padding: .3rem 1rem;
  margin: .2rem .15rem;
  color:blue;
}

div a:hover{
  color:blue;
  font-weight: 600;
}

div a:first-child{
  border-radius: 10rem 0 0 10rem;
}


div a:last-child{
  border-radius: 0 10rem 10rem 0;
}
