ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

ul li a img {
  height: 15rem;
}

ul li a{
    height: 22.5rem;
    width: 20rem;
    border: 1px solid #D3D3D3;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;
}
li a:hover{
    opacity: 0.9;
    cursor: pointer;
    box-shadow: 1px 1px 12px 1px rgba(128,128,128,1);
    -webkit-box-shadow: 1px 1px 12px 1px rgba(128,128,128,1);
    -moz-box-shadow: 1px 1px 12px 1px rgba(128,128,128,1);
}


.content {
  padding: .5rem 1rem;
  position:relative;
}

.favorite{
  position: absolute;
  top:.5rem;
  right:1rem;
  font-size:1.2rem;
}

.favorite.not {
  color: gray;
}

.product-item-footer{
  display:flex;
  justify-content: space-between;
  align-items: center;

}

.origins{
  flex:9;
}

.origins span{
  border-radius: 2rem;
  background-color: whitesmoke;
  display: inline-block;
  font-size:1rem;
  margin-right: .3rem;
  padding: 7px;
}

.cook-time{
  font-size:1rem;
  flex:3;
  text-align: right;
}

.price {
  color: #414141;
  margin-top: .8rem;
  font-size:1.2rem;
}

.price::before{
  content: "Price: ";
}
